@font-face {
  font-family: "AtlassianSans";
  src: url("./AtlassianSans-latin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuisseWorks";
  src: url("./SuisseWorks-Bold-v1.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "UdemySans";
  src: url("./Udemy-Sans-Regular-v1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UdemySans";
  src: url("./Udemy-Sans-Bold-v1.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
